body{
    margin:0px;
    padding: 0px;
    cursor:url(Assets/Translucent\ White.cur),auto;
    /* overflow: hidden; */
    
    }
    

    ::-webkit-scrollbar {
      width: 0px;
    }
    
  
    

    /* container div  */
#container{
          margin-top: 50px;
          margin-bottom: 40px ;

          }

    /* header section   */
     header{
            /* postion fixed scroll wont effect */
            position: fixed;
            color: white;
            background-color: black;
            top: 0px;
            width: 100%;

            height: 50px;
             
            }
     /* Main section */

      main{

        display: flex;
        
        flex-direction: row;
        height: 81vh;
        overflow:hidden;
         

         
           }
           /* SONGS CONTAINER */
           #songsContainer{
                          background-color: black;
                          width: 75%;
                          padding: 20px;
                          overflow-y: scroll;
                          color: rgb(185, 211, 211);
                            }

          

             /* aside section */
             aside{

                  background-color: orange;
                   width: 25%;
                   padding: 20px;
                   overflow-y: scroll;
                   
                   
                   }


                   

         /* footer section */
        
        
        
        
         footer{
            color: aliceblue;
            position: fixed;
            background-color:black;
            
            bottom: 0px;
            width: 100%;
            height: 50px;
        }
