body{
    margin:0px;
    padding: 0px;
    cursor:url(Assets/Translucent\ White.cur),auto;
     overflow: hidden; 
     background-color: dodgerblue;
    
    animation: changeShape 5s linear infinite  ;

}
@keyframes changeShape{
0%{
     background-color:white;        /* top:50px; */
    }
    10%{
      background-color: dodgerblue;
    }
    20%{
      background-color: black; 
    }
    40%{
      background-color: white; 
    }
    60%{
      background-color: dodgerblue; 
    }
    80%{
      background-color: black; 
    }
    100%{
      background-color:white; 
    }
    
  }

  @keyframes changeColor{
    0%{
         color: white;        /* top:50px; */
        }
        33%{
          color: lightblue;
        }
        66%{
          color: lightskyblue; 
        }
        100%{
          color:skyblue; 
        
        
      }
    }
    
    @keyframes change{
      0%{
        color:whitesmoke;    /* top:50px; */
          }
          33%{
            color:lightgrey; 
          }
          66%{
            color:gray; 
          }
          100%{
            color: black;
          
          
        }
      }
      @keyframes rotation{
100%{
            transform: rotate(360deg);/* top:50px; */
            }
                     
            
            
          }
        
    












    ::-webkit-scrollbar {
      width: 0px;
    }
    
  
    

    /* container div  */


    /* header section   */
     header{
            /* postion fixed scroll wont effect */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: fixed;
            color: white;
            /* background-color: black; */
            top: 0px;
            background-image: url(web-header.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            /* border-radius: 50px; */
            height: 15%;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            
             
            }

            header div{
              

              width: 30vw;
            }
              


            
            header #logo{
              float: left;
                text-align: left;
                        }
            head #logo div img{
              /* animation: rotation 2s infinite linear ; animation: rotation 2s infinite linear ; */
            }            
            header #logo div{
              animation: rotation 5s infinite linear ;
              width: 45px;
              height: 45px;
              /* border:solid; */
              /* border-color: dodgerblue; */
              box-shadow: 0 0 10px 2px dodgerblue;
              margin-left:-20px;
              border-radius: 50%;

            }



            header #search{
              width: 25vw;
              border-bottom: solid;
              border-width: 0.5px;
              padding: 5px;
              border-radius: 20px;
              border-color: grey;
              

              
                    
                     
                       }

            header #search i{
              width:7%;
            }                       



            header div input{
              
              outline: none;
              border: none;
              border-radius: 10px;
              padding: 3px;
              width: 80%;
              /* padding-left: 20px; */
              
          
              
               color: white;
               font-weight: bold;
               background-color: transparent;            }
     /* Main section */

      main{

        display: flex;
        position: fixed;
        top: 15%;
        bottom: 15%;
        width: 100%;
        height: auto;
        flex-direction: row;
        box-shadow: 0 0 10px 3px;
        overflow:hidden;
         

         
           }
           /* SONGS CONTAINER */
           #songsContainer{
                          background-color: black;
                          width:80%;
                          padding: 20px;
                          overflow-y: scroll;
                          color: rgb(185, 211, 211);
                            }

          

             /* aside section */
             aside{

                  /* background-color: orange; */
                  background-image: url(ver.jpg);
                  background-repeat: no-repeat;
                  background-size: cover;
                   width: 20%;
                   /* padding-left: -5px; */
                   overflow-y: scroll;
                   scroll-behavior: smooth;
                   transition: all 1s;
                   
                   }

                   aside ul{

                    margin-left: -40px;
                    
                   }
                   
                   

                   aside li{
                     background-color: black;
                     color: white;
                     margin: 10px;
                     /* border-radius: 10px; */
                     transition: ease 1s all;
                     font-style: italic;
                     font-weight: bold;
                     padding: 5px;
                     box-shadow: 0 0 10px 4px black;
                     
                     
                   }
                    
                   aside li #songimagelist{
                         height: 25px; 
                         
                   }
                   aside li #songnamelist{
                                                   
                    margin-bottom: 7px;
                    margin-top: 7px;
                   }
                   aside li #playbuttonlist{
                           float: right;
                           margin-bottom: 7px;
                           margin-top: 7px;
                   }

                   aside li #playbuttonlist img{
                    height: 15px;
            }
                   




                   

         /* footer section */
        
        
        
        
         footer{
            display: flex;
            color: aliceblue;
            position: fixed;
            background-color:black;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            padding-top: 0px;
            bottom: 0px;
            width: 100%;
            height: 15%;
            flex-direction: column;
            
                 }
        /* progress bar at footer section */
                 #progressbar{
                             margin-top:-12px ;
                             margin-left:-3px ;
                              width: 100%;
                              height: 10%;
                              }
                  #progressbar input{
                    cursor:url(Assets/Translucent\ White.cur),auto;
                              width: 100%;
                               height: 2px;
                               
                              }
                   #player{
                           margin-top: 6px;
                          display: flex;
                          flex-direction: row;
                          /* justify-content: center; */
                          justify-content:space-between;
                          

                          }
                     #playingSong{
                         display: flex;
                         flex-direction: row;
                         justify-content:space-evenly;
                         padding: 10px;
                           width: 33%;
                           }
                        #playingSong div img{
                          
                          height: 50px;
                          
                        }

                        #playingSong div img:hover{
                          transition: all 1s;
                          box-shadow:0 0 10px 2px whitesmoke;
                        }
                        #playingSong div{
                          width:auto;
                          padding-top: 10px;
                          text-align: left;
                        }  


                    #buttons{
                          display: flex;
                          flex-direction: row;
                          justify-content: space-evenly;
                          width: 33%;
                          margin: 2%;
                          height: 100%;
                          
                            }  
                    #buttons div{
                             text-align: center;
                             width: 25%;
                             align-items: center;
                                }            
                    #buttons img{
                           display: inline-block;
                           height: 33px;
                           }  
                     #buttons img:hover{
                       /* height: 35px; */
                       border-radius: 50%;
                       box-shadow: 0 0 10px 2px;
                     } 
                           
                           
                     #timer{
                        height: 100%;
                        width: 33%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                          }      
                     #timer img{
                       height: 30px;
                     }     

                     #timer img:hover{
                       height: 32px;
                     }

                     #speaker:hover ~ #slider{
                      width: 80px;
                      right: 20px;
                      
                      bottom: 100px;
                      position: fixed;
                     
                      
                       
                       transition:2s all;
                       
                     }
